/vendor
/.idea
/.vscode
/cache
/storage/sessions
/public/static/uploads/posters/*
!/public/static/uploads/posters/.gitkeep
/public/static/uploads/uudai/*
!/public/static/uploads/uudai/.gitkeep
/public/static/imgs
/app/config/client_secret.json
/app/config/database.php